[Unit]
Description=Warden Guardian
Documentation=http://github.com/athlum/warden
After=network.target

[Service]
Type=simple
ExecStart=
ExecStart=/data/go/bin/warden-agent
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
